body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/*CABECERA*/
header {
    background-color: #1f4723;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1{
    font-size: 45px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.hero {
    padding: 20px;
    text-align: center;
}

.pizzas-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}

.pizza-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.imagen{
    text-align: center;
}


footer {
    background-color: #1f4723;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

main{
    width: 98%;
    margin: 0 auto;    
}

main h1{
    text-align: center;
}
main h2{
    text-align: left;
}


/*DETALLE PIZZA*/
.det_pizza{
    display: flex;
}
.texto_pizza {
    flex: 1;
}

.imagen_detPizza{
    flex: 0 0 300px;
    text-align: right;
}


/*TABLA DE PIZZAS*/
table{
    border-collapse: collapse;
    width: 100%;
}

table th{
    background-color: #1f4723;
    border: 1px solid #1f4723; 
    color: white;
}
table td{
    border: 1px solid #1f4723;
}
table td.precio{
    text-align: center;
}

/*Contenedores listas*/
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.cont_tab {
    flex: 1; /* La tabla ocupará el espacio restante */
}

/*FORMULARIO*/
main.formulario{
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 21px 25px #1f4723;
}

fieldset {
    border: 1px solid #c3c2c2;
    border-radius: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #1f4723;
    padding: 0 5px;
}

h1.formulario {
    color: #1f4723;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="date"], input[type="time"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #1f4723;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
}

/*LINKS*/
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}


/*LETRA PEQUEÑA*/
.pequeno{
    font-size: 12px;
}