<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
    </head>
<body>
    <main>
        <h3>Formulario</h3>
        <form action="reservar" method="POST">
            <fieldset>
            <legend>Datos de la reserva</legend>
            <br>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <br><br>
            <label for="personas">Número de personas:</label>
            <input type="number" id="personas" name="personas" required>
            <br><br>
            <label>Tipo de mesa:</label><br>
            <input type="radio" name="mesa" value="Barra" checked> Barra<br>
            <input type="radio" name="mesa" value="Comedor"> Comedor<br>
            <input type="radio" name="mesa" value="Terraza"> Terraza<br>
            <br>
            <label for="fecha">Fecha de la reserva:</label>
            <input type="date" id="fecha" name="fecha" required>
            <br><br>
            <label for="hora">Hora de la reserva:</label>
            <select id="hora" name="hora" required>
                <option value="" disabled selected>Selecciona una hora</option>
                <option value="12:30">12:30 PM</option>
                <option value="13:00">13:00 PM</option>
                <option value="13:30">13:30 PM</option>
                <option value="14:00">14:00 PM</option>
                <option value="14:30">14:30 PM</option>
                <option value="15:00">15:00 PM</option>
                <option value="15:30">15:30 PM</option>
                <option value="19:30">19:30 PM</option>
                <option value="20:00">20:00 PM</option>
                <option value="20:30">20:30 PM</option>
                <option value="21:00">21:00 PM</option>
                <option value="21:30">21:30 PM</option>
                <option value="22:00">22:00 PM</option>
                <option value="22:30">22:30 PM</option>
            </select>
            <br><br>
            <label for="telefono">Teléfono de contacto:</label>
            <input type="tel" id="telefono" name="telefono" required>
            <br><br>
            <label for="comentarios">Comentarios especiales (opcional):</label>
            <textarea id="comentarios" name="comentarios"></textarea>
            <br><br>
            <input type="button" value="Reservar">
        </fieldset>
        </form>
    </main>
</body>
</html>