
{% extends "base.html" %}
{% load static %}
{% block title %}{{ pizza.nombre }}{% endblock%}
{%block content%}
<main>
    <h1>Detalle de la Pizza: {{ pizza.nombre }}</h1>
    <p><strong>Descripción:</strong> {{ pizza.descripcion }}</p>
    <p><strong>Precio:</strong> ${{ pizza.precio }}</p>
    <p><strong>Tipo de Masa:</strong> {{ pizza.tipo_masa.nombre }}</p>

    <h2>Ingredientes</h2>
    <ul>
        {% for ingrediente in pizza.ingredientes.all %}
            <li>{{ ingrediente.nombre }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'lista_pizzas' %}">Volver a la lista de pizzas</a>
</main>
{%endblock%}