{% extends "base.html" %}
{% load static %}
{% block title %}Formulario - Mamma Mia{% endblock%}
{%block content%}
<main>
    <h2>Formulario de reserva</h2>
    <form action="{% url 'formulario' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Datos del cliente</legend>
            <label for="nombre">Nombre completo:</label><br>
            <input type="text" id="nombre" name="nombre" required><br><br>

            <label>¿Es la primera vez en el restaurante?</label><br>
            <input type="radio" id="si" name="primeravez" value="si">
            <label for="si">Sí</label>
            <input type="radio" id="no" name="primeravez" value="no">
            <label for="no">No</label><br><br>

            <label for="email">Correo electrónico:</label><br>
            <input type="email" id="email" name="email" required><br><br>
        </fieldset>

        <fieldset>
            <legend>Datos de la reserva</legend>
            <label for="comensales">Número de comensales:</label><br>
            <select id="comensales" name="comensales">
                <option value="1">1 persona</option>
                <option value="2">2 personas</option>
                <option value="3">3 personas</option>
                <option value="4">4 personas</option>
                <option value="5">5 personas</option>
                <option value="8+">Más de 8 personas</option>
            </select><br><br>

            <label for="fecha">Selecciona la fecha de la reserva:</label><br>
            <input type="date" id="fecha" name="fecha" required><br><br>

            <label for="hora">Selecciona la hora de la reserva:</label><br>
            <input type="time" id="hora" name="hora" required><br><br>

            <label for="comentario">Comentarios:</label><br>
            <textarea id="comentario" name="comentarios" rows="4" cols="50"></textarea><br><br>
        </fieldset>

        <input type="checkbox" id="condiciones" name="condiciones" required>
        <label for="condiciones">Acepto las condiciones de la reserva</label><br><br>

        <input type="submit" value="Realizar reserva"><br><br>

        <div class="link-inicio">
            <a href="index.html">Volver al inicio</a>
        </div>
    </form>
</main>

<br>
<br>
<br>
<br>
<br>
{%endblock%}