{% extends "base.html" %}
{% load static %}
{% block title %}Pizzas - Mamma Mia{% endblock%}
{%block content%}
<main>
    <h1>Lista de Pizzas</h1>
    <div class="contenedor">
        <div class="cont_tab">

            <p>
                En Mamma Mia, preparamos nuestras pizzas con ingredientes frescos y recetas tradicionales. 
                Aquí tienes nuestra variedad de pizzas, cada una diseñada para deleitar tu paladar. ¡Elige tu favorita!
            </p>

            <table class="tabla-pizzas">
                <thead>
                    <tr>
                        <th>PIZZAS</th>
                        <th>PRECIOS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pizza in pizzas %}
                    <tr>
                        <td><a href="{% url 'detalle_pizza' pizza.id %}">{{ pizza.nombre }}</a></td>
                        <td class="precio">${{ pizza.precio }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="pequeno">Para más información seleccione la pizza que desea</p>
            <a href="{% url 'portada' %}">Volver al inicio</a> 
        </div>
        
        
        <div class="imagen">
            <img src="{% static 'imagenes/pizzas.jpg' %}" alt="Imagen de pizzas" height="380"> 
            <p class="pequeno">¡Descubre nuestras pizzas y encuentra tu favorita!</p>   
        </div>
    </div> 
    
</main>
<br>
<br>
<br>
<br>
{%endblock%}
