{% extends "base.html" %}
{% load static %}
{% block title %}PORTADA{% endblock%}
{%block content%}
Hola contenido
{%endblock%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Portada - Mamma Mia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Mamma Mia</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="{% url 'lista_pizzas' %}">Pizzas</a></li>
                <li><a href="{% url 'lista_tipos_masa' %}">Tipos de Masa</a></li>
                <li><a href="{% url 'lista_ingredientes' %}">Ingredientes</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <h2>Bienvenidos a Mamma Mia</h2>
        <p>Explora nuestras pizzas más deliciosas y frescas.</p>
        <img src="{% static 'imagenes/portada.jpg' %}" alt="Imagen de restaurante">
      
    </div>

    <main>
        <section class="pizzas-container">
            {% for pizza in pizzas %}
                <div class="pizza-card">
                    <h3>{{ pizza.nombre }}</h3>
                    <p><strong>Precio:</strong> ${{ pizza.precio }}</p>
                    <p>{{ pizza.descripcion }}</p>
                    <a href="{% url 'detalle_pizza' pizza.id %}">Ver detalles</a>
                </div>
            {% empty %}
                <p>No hay pizzas disponibles.</p>
            {% endfor %}
        </section>
    </main>

    <!--<footer>
        <p>&copy; 2024 Mamma Mia. Todos los derechos reservados.</p>
    </footer>-->
</body>
</html>